<footer>
    <img src="./assets/images/footerAnim.gif" alt="">
    <div>
        <ul>
            <li>
                <p>LPU</p>
            </li>
            <li>
                <p>SHOP</p>
            </li>
            <li>
                <p>SUBSCRIBE TO LP NEWSLETTER</p>
            </li>
            <li>
                <input type="text" placeholder="EMAIL ADDRESS">
            </li>
        </ul>
    </div>
    <div class="copyright-block">
        <p>© 2021 LINKIN PARK. ALL RIGHTS RESERVED</p>
        <p>TERMS & CONDITIONS // PRIVACY POLICY // AD CHOICES // COOKIES POLICY //</p>
    </div>
</footer>