header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1e1e1;
    padding: 50px;
    flex-direction: column;
}
header img{
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 767px) {
    header img{
        width: 260px;
    }
}