<div class="container">
  <div class="20Ann">
    <p>20TH ANNIVERSARY EDITION <br>
      Super Deluxe Box SET <br>
      Available Now</p>
    <a
      href="https://eurostore.warnermusic.com/eu/artists/linkin-park/hybrid-theory-20th-anniversary-edition-super-deluxe-box-set-32.html?intcmp=201008%2Flpark%2Fwr%2Fspl%2Fs_pr%2Fimg%2Fbdy%2Fww%2Fhybrid-theory-20-anniv-merch-splash-header-image"><img
        src="./assets/images/header-img.png" alt="20° anniversario "></a>
  </div>
  <div class="vinil">
    <img src="./assets/images/body1.png" alt="vinil-box-set">
    <h1>VINYL BOX SET</h1>
    <ul>
      <li>HYBRID THEORY</li>
      <li> REANIMATION </li>
      <ul>
        <li>Double LP</li>
      </ul>
      <li>B-Side Rarities</li>
    </ul>
    <button><a
        href="https://eurostore.warnermusic.com/eu/artists/linkin-park/hybrid-theory-20th-anniversary-edition-vinyl-deluxe-box-set-32.html?intcmp=201008%2Flpark%2Fwr%2Fspl%2Fs_pr%2Fbut%2Fbdy%2Fww%2Fhybrid-theory-20-anniv-merch-splash-vinyl-box-set-button">BUY
        NOW</a></button>
  </div>
  <div class="deluxe">

    <h1>DELUXE CD</h1>
    <ul>
      <li>HYBRID THEORY</li>
      <li>B-Side Rarities</li>
      <li> 16 PAGE BOOKLET </li>
    </ul>
    <button><a
        href="https://eurostore.warnermusic.com/eu/artists/linkin-park/hybrid-theory-20th-anniversary-edition-deluxe-2cd-32.html?intcmp=201008%2Flpark%2Fwr%2Fspl%2Fs_pr%2Fbut%2Fbdy%2Fww%2Fhybrid-theory-20-anniv-merch-splash-deluxe-cd-button">BUY
        NOW</a></button>

  </div>
  <div class="digital">
    <img src="./assets/images/body3.png" alt="digital-download">
    <h1>DIGITAL DOWNLOAD</h1>
    <ul>
      <li>HYBRID THEORY</li>
      <li>B-Side Rarities</li>
      <li> LPU Rarities </li>
      <li>Forgotten Demos</li>
    </ul>
    <button><a
        href="https://eurostore.warnermusic.com/eu/artists/linkin-park/hybrid-theory-20th-anniversary-edition-digital-download-1.html?intcmp=201008%2Flpark%2Fwr%2Fspl%2Fs_pr%2Fbut%2Fbdy%2Fww%2Fhybrid-theory-20-anniv-merch-splash-download-button">BUY
        NOW</a></button>
    <button><a href="http://lprk.co/ht20">STREAM</a></button>
  </div>
  <div class="merch">
    <img src="./assets/images/body4.png" alt="merch">
    <h1>Exclusive Hybrid Theory
      20th Anniversary EDITION
      Merch Collection </h1>

    <button><a
        href="https://store.linkinpark.com/collections/hybrid-theory-20th-anniversary/?intcmp=201008/lpark/wr/spl/s_cat/but/bdy/ww/hybrid-theory-20-anniv-merch-splash-merch-collec-button">BUY
        NOW</a></button>

  </div>
</div>