.container{
    background-color: #e1e1e1;
    padding: 50px 0px 0px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr;
    grid-template-areas: "thanks thanks"
                        "vinyl deluxe"
                        "digital merch";
}

.thanks{
    grid-area: thanks;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 43px 30px;
    line-height: 28px;
    font-size: 22px;
    text-align: center;

}

.vinyl{
    padding: 80px;
    grid-area: vinyl;
    text-align: center;
    background-image: url("https://raw.githubusercontent.com/MarcoSorci/bandSite/main/src/assets/images/shop-tile-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    list-style-position: inside;
}
.vinyl div{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deluxe{
    padding: 200px 80px 80px;
    grid-area: deluxe;
    text-align: center;
    background-image: url("https://raw.githubusercontent.com/MarcoSorci/bandSite/main/src/assets/images/shop-tile-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    list-style-position: inside;
}

.deluxe div{
    padding-top: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.digital{
    padding: 80px;
    grid-area: digital;
    text-align: center;
    background-image: url("https://raw.githubusercontent.com/MarcoSorci/bandSite/main/src/assets/images/shop-tile-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    list-style-position: inside;
}
.digital div{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.merch{
    padding: 80px;
    grid-area: merch;
    text-align: center;
    background-image: url("https://raw.githubusercontent.com/MarcoSorci/bandSite/main/src/assets/images/shop-tile-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    list-style-position: inside;
}
.merch div{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.merch img{
width: 500px;
}

button{
    background-color: #ffffff00;
    border: none;
    padding-bottom: 10px;
}

button a{
    text-decoration: none;
    color: #000;
    width: 226px;
    display: inline-block;
    letter-spacing: 5px;
    border: 2px solid #000;
    font-size: 17px;
    line-height: 52px;
    height: 52px;
    box-sizing: border-box;
}

button a:hover{
    border-color: white;
    color: white;
}

.button-cont{
    display: flex;
    flex-direction: column;
}


h1{
    font-size: 21px;
    text-transform: uppercase;
}

ul{
    padding-left: 0px;
}

img{
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 1315px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .deluxe{
        padding-bottom: 100px;
        padding-top: 50px;
    }
}