<div class="container">
  <div class="thanks"><p>IT'S INCREDIBLE TO THINK IT'S BEEN 20 YEARS SINCE HYBRID THEORY WAS RELEASED. ALL GRATITUDE TO OUR FANS <br>
    WHO MADE THIS EPIC JOURNEY WE STARTED 20 YEARS AGO POSSIBLE. WE DEDICATE OUR MUSIC TO YOU. WE <br>
    REDEDICATE OUR HYBRID THEORY TO YOU.</p></div>
  <div class="vinyl">
    <img src="./assets/images/body1.png" alt="vinil-box-set">
    <div>
      <h1>VINYL BOX SET</h1>
      <ul>
        <li>HYBRID THEORY</li>
        <li>REANIMATION</li>
        <ul>
          <li>Double LP</li>
        </ul>
        <li>B-Side Rarities</li>
      </ul>
      <button><a
          href="https://eurostore.warnermusic.com/eu/artists/linkin-park/hybrid-theory-20th-anniversary-edition-vinyl-deluxe-box-set-32.html?intcmp=201008%2Flpark%2Fwr%2Fspl%2Fs_pr%2Fbut%2Fbdy%2Fww%2Fhybrid-theory-20-anniv-merch-splash-vinyl-box-set-button">BUY
          NOW</a></button>
    </div>

  </div>
  <div class="deluxe">
    <img src="./assets/images/body2.png" alt="deluxe-cd">
    <div>
      <h1>DELUXE CD</h1>
      <ul>
        <li>HYBRID THEORY</li>
        <li>B-Side Rarities</li>
        <li>16 PAGE BOOKLET</li>
      </ul>
      <button><a
          href="https://eurostore.warnermusic.com/eu/artists/linkin-park/hybrid-theory-20th-anniversary-edition-deluxe-2cd-32.html?intcmp=201008%2Flpark%2Fwr%2Fspl%2Fs_pr%2Fbut%2Fbdy%2Fww%2Fhybrid-theory-20-anniv-merch-splash-deluxe-cd-button">BUY
          NOW</a></button>
    </div>

  </div>
  <div class="digital">
    <img src="./assets/images/body3.png" alt="digital-download">
    <div>
      <h1>DIGITAL DOWNLOAD</h1>
      <ul>
        <li>HYBRID THEORY</li>
        <li>B-Side Rarities</li>
        <li>LPU Rarities</li>
        <li>Forgotten Demos</li>
      </ul>
      <div class="button-cont"><button><a
          href="https://eurostore.warnermusic.com/eu/artists/linkin-park/hybrid-theory-20th-anniversary-edition-digital-download-1.html?intcmp=201008%2Flpark%2Fwr%2Fspl%2Fs_pr%2Fbut%2Fbdy%2Fww%2Fhybrid-theory-20-anniv-merch-splash-download-button">BUY
          NOW</a></button>
      <button><a href="http://lprk.co/ht20">STREAM</a></button></div>
    </div>

  </div>
  <div class="merch">
    <img src="./assets/images/body4.png" alt="merch">
    <div>
      <h1>Exclusive Hybrid Theory <br>
        20th Anniversary EDITION <br>
        Merch Collection </h1>

      <button><a
          href="https://store.linkinpark.com/collections/hybrid-theory-20th-anniversary/?intcmp=201008/lpark/wr/spl/s_cat/but/bdy/ww/hybrid-theory-20-anniv-merch-splash-merch-collec-button">BUY
          NOW</a></button>
    </div>
  </div>
</div>